.cdx-attaches {
  display: flex;
  padding: 13px 20px;
  border: 1px solid #e6e9eb;
  border-radius: 3px;
  background: #fff;
}

.cdx-attaches__file-info {
  flex-grow: 8;
  margin-left: 10px;
  max-width: calc(100% - 80px);
}

.cdx-attaches__title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  outline: none;
  max-width: 90%;
}

.cdx-attaches__size {
  color: #7b7e89;
}

.cdx-attaches__download-button {
  display: flex;
  align-items: center;
}

 