.cdx-attaches .cdx-attaches--with-file {
  display: flex;
  padding: 13px 20px;
  border: 1px solid #e6e9eb;
  border-radius: 3px;
  background: #fff;
}

.cdx-attaches__file-icon {
  margin-right: 20px;
  position: relative;
}

.cdx-attaches__file-icon::before {
  position: absolute;
  bottom: 7px;
  left: 8.5px;
  font-size: 8px;
  font-weight: 900;
  text-transform: uppercase;
  background: #fff;
  line-height: 150%;
  content: attr(data-extension);
}

svg {
  fill: currentColor;
}

.cdx-attaches__file-info {
  flex-grow: 8;
  max-width: calc(100% - 80px);
}

.cdx-attaches__download-button {
  display: flex;
  align-items: center;
}
